.my-logo {
    width: 450px
}
@media only screen and (max-width: 600px) {
    .my-logo {
      width: 300px;
      padding-left: 10px
    }
}

#content {
  z-index: 100;
}

.my-primary-color {
  background: #990000
}
.h7 {
  font-size: 9px
}
.body-text{
  font-size: 18px;
}
.body-text-menu{
  font-size: 15.4px !important;
}
